Source: firmware-tools
Section: admin
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Michael Brown <Michael_E_Brown@dell.com>
Build-Depends: debhelper (>= 5), python-all-dev (>= 2.3.5-11), cdbs (>= 0.4.43), python-support (>= 0.5.3)
Standards-Version: 3.7.2

Package: firmware-tools
Architecture: all
# Depends: python-rpm provides a useful version comparison function
# Depends: dpkg 1.4.5.ubuntu6 for triggers
Depends: ${python:Depends}, python-rpm, dpkg (>= 1.14.5ubuntu6)
Provides: ${python:Provides}
Description: Scripts and tools to manage firmware and BIOS updates
 The firmware-tools project provides tools to inventory hardware and a plugin
 architecture so that different OEM vendors can provide different inventory
 components. It is intended to tie to the package system to enable seamless
 installation of updated firmware via your package manager, as well as provide
 a framework for BIOS and firmware updates.

