#!/usr/bin/make -f
# -*- makefile -*-
# vim:noet:ts=8:sw=8:filetype=make

DEB_PYTHON_SYSTEM=pysupport
DEB_INSTALL_DOCS_ALL := doc/bootstrap.txt
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk

