#!/usr/bin/make -f
# -*- makefile -*-
# vim:noet:ts=8:sw=8:filetype=make

DEB_PYTHON_SYSTEM=pysupport
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/utils.mk

binary-install/firmware-tools::
	dh_pysupport -pfirmware-tools

install/firmware-tools::
	install -d debian/firmware-tools/usr/share/linda/overrides
	install -m 644 debian/linda.overrides \
		debian/firmware-tools/usr/share/linda/overrides/firmware-tools
	mv ChangeLog changelog

# because Gutsy debhelper doesn't install triggers
binary-predeb/firmware-tools::
	install -m 644 -o root -g root debian/triggers \
                debian/firmware-tools/DEBIAN/triggers
